* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.barra-fixa {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    justify-content: center;
    z-index: 99;
}

.itens-barra {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.103);
    backdrop-filter: blur(5px);
}

.itens-barra ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.itens-barra ul li a {
    text-decoration: none;
    color: #000;
}

.itens-barra ul li a i {
    font-size: 18px;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px 0;
    height: min-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    max-width: 1100px;
}

.container-header .logo img,
.container-header .site-seguro img {
    width: 100px;
}

swiper-container swiper-slide img {
    width: 100%;

}

